<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        {% block stylesheets %}
            <link href="{{ asset('CSS/Style.css') }}" rel="stylesheet" type="text/css"/>
        {% endblock %}
        {% block my_javascripts %}
            {% javascripts
            'https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'
            'js/scripts.js'
            'js/JQueryScripts.js'
 %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
            {% endjavascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>